{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">

			<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#reject"><a href="/delete-staff/{{academicStaffDetails.staff.tc}}">Delete</a></button>
			<br>
			<hr>
			<img src="{{ academicStaffDetails.staff.user.avatar }}">
			<br><br><small class="text-muted">Personal Information  </small>
			<br><small class="text-muted">First Name:  </small> {{ academicStaffDetails.staff.user.first_name }}
			<br><small class="text-muted">Last Name:  </small> {{ academicStaffDetails.staff.user.last_name }}
			<br><small class="text-muted">Academic Staff number:  </small>{{ academicStaffDetails.user.id }}
			<br><small class="text-muted">Institute:  </small> {{ academicStaffDetails.institute }}
			<br><small class="text-muted">TC Number:  </small> {{ academicStaffDetails.staff.tc }}
			<br><small class="text-muted">Birthday:  </small> {{ academicStaffDetails.staff.birthday }}
			<br><small class="text-muted">Gender:  </small> {{ academicStaffDetails.staff.gender }}
			<br><small class="text-muted">Joined Date:  </small> {{ academicStaffDetails.staff.joined_date }}
			<br><br><small class="text-muted">Contact Information  </small>
			<br><small class="text-muted">Phone Number:  </small> {{ academicStaffDetails.staff.user.phone_number }}
			<br><small class="text-muted">E-mail:  </small> {{ academicStaffDetails.staff.user.email }}
			<br><small class="text-muted">School Mail:  </small> {{ academicStaffDetails.school_email }}
			<hr>
		</div>
	</div>
</div>
</div>
{% endblock %}
