{% extends 'staff/institute.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Menu -->
        {% include 'staff/assets/menu/institute.html' %}
        <div class="col-lg-9">
            <div class="card card-outline-secondary my-4">
                <!-- Title -->
                <div class="card-header">
                    {{ request.path }}
                </div>
                <div class="card-body">
                    <p>You can see the all information about courses.</p>
                    <!-- Table -->
                    <hr>
                    <table>
                        <tr>
                            <th>Code</th>
                            <th>Title</th>
                            <th>Program</th>
                            <th>View</th>
                        </tr>
                        {% for i in availableCourses %}
                        <tr>
                            <td>{{ i.code }}</td>
                            <td>{{ i.title }}</td>
                            <td>{{ i.program }}</td>
							<td><a href="/course-details/{{ i.id }}/">View</a></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
