{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<div class="row">
				<table>
					<tr>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Student ID</th>
						<th>School E-Mail</th>
						<th>Details</th>
					</tr>
					{% for i in students %}
					<tr>
						<td>{{ i.user.first_name }}</td>
						<td>{{ i.user.last_name }}</td>
						<td>{{ i.st_id }}</td>
						<td>{{ i.st_email }}</td>
						<td><a href="/grad-student-details/{{ i.st_id }}/"><span class="oi oi-external-link"></span></a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

