{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<hr>
			<small class="text-muted">Course number:  </small> {{ courseDetails.id }}
			<br><small class="text-muted">Name:  </small> {{ courseDetails.title }}
			<br><small class="text-muted">Code:  </small> {{ courseDetails.code }}
			<br><small class="text-muted">Description:  </small> {{ courseDetails.description }}
			<br><small class="text-muted">Credit & ECTS:  </small> {{ courseDetails.credit }} & {{ courseDetails.ects_credit}}
			<br><small class="text-muted">Program:  </small> {{ courseDetails.program }}
			<br><small class="text-muted">University:  </small> {{ courseDetails.university }}
			<br><small class="text-muted">isValid:  </small> {{ courseDetails.is_valid }}
			<br><small class="text-muted">isDeleted:  </small> {{ courseDetails.is_deleted }}
			<br><small class="text-muted">Created Date:  </small> {{ courseDetails.created_date }}
			<hr>
		</div>
	</div>
</div>
</div>
{% endblock %}

