{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<hr>
			<small class="text-muted">Department number:  </small> {{ departmentDetails.id }}
			<br><small class="text-muted">Name:  </small> {{ departmentDetails.name }}
			<br><small class="text-muted">Head:  </small> {{ departmentDetails.dept_head }}
			<br><small class="text-muted">Institute:  </small> {{ departmentDetails.institute }}
			<hr>
		</div>
	</div>
</div>
</div>
{% endblock %}

