{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<div class="row">
				<table>
					<tr>
						<th>Department Name</th>
						<th>Head</th>
						<th>Institute</th>
					</tr>
					{% for i in departmentHeads %}
					<tr>
						<td>{{ i.name }}</td>
						<td>{{ i.head }}</td>
						<td>{{ i.institute }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

