{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<div class="row">
				<table>
					<tr>
						<th>Program</th>
						<th>ID</th>
						<th>Student</th>
						<th>E-mail</th>
						<th>Advisor</th>
						<th>CCR</th>
						<th>Schedule</th>
						<th>Transcript</th>
						<th>Curriculum</th>
					</tr>
					{% for i in students %}
					<tr>
						<td>{{ i.program }}</td>
						<td><a href="/grad-student-details/{{ i.st_id}}">{{ i.st_id }}</a></td>
						<td><a href="/grad-student-details/{{ i.st_id}}">{{ i.user }}</a></td>
						<td>{{ i.st_email }}</td>
						<td>{{ i.advisor }}</td>
						<td><a href="/display-ccr/{{i.st_id}}/"> CCR</a></td>
						<td><a href="/display-schedule/{{i.st_id}}/">Schedule</a></td>
						<td><a href="/display-transcript/{{i.st_id}}/">Transcript</a></td>
						<td><a href="/display-curriculum/{{i.st_id}}/">Curriculum</a></td>
					</tr>
					{% endfor %}
				</table>
				<br>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

