{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<hr>
			<small class="text-muted">Section:  </small> {{ examDetails.section }}
			<br><small class="text-muted">Place:  </small> {{ examDetails.place }}
			<br><small class="text-muted">Date:  </small> {{ examDetails.date }}
			<br><small class="text-muted">Slot:  </small> {{ examDetails.slot }}
			<br><small class="text-muted">Instructor:  </small> {{ examDetails.instructor }}
			<hr>
		</div>
	</div>
</div>
</div>
{% endblock %}

