{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<hr>
			<img src="{{ gradStudentDetails.user.avatar }}">
			<br><br><small class="text-muted">About  </small>
			<br><small class="text-muted">First Name:  </small> {{gradStudentDetails.user.first_name }}
			<br><small class="text-muted">Last Name:  </small> {{ gradStudentDetails.user.last_name }}
			<br><small class="text-muted">Grand Student #:  </small>{{ gradStudentDetails.id }}
			<br><small class="text-muted">Student ID:  </small> {{ gradStudentDetails.st_id }}
			<br><small class="text-muted">E-mail:  </small> {{ gradStudentDetails.st_email }}
			<br><small class="text-muted">Phone Number:  </small> {{ gradStudentDetails.user.phone_number }}
			<br><small class="text-muted">Advisor:  </small> {{ gradStudentDetails.advisor }}
			<br><small class="text-muted">Curriculum:  </small> {{ gradStudentDetails.curriculum }}
			<br><small class="text-muted">Program:  </small> {{ gradStudentDetails.program }}
			<br><small class="text-muted">More Information:  </small> {{ gradStudentDetails.user.personal_information }}
			<hr>
		</div>
	</div>
</div>
</div>
{% endblock %}
