{% extends 'staff/base.html' %}

{% block content %}


    <!-- Page Content -->
    <div class="container">
      <div class="row">
<!-- Menu -->
{% include 'staff/assets/menu/grand-students.html' %}


        <div class="col-lg-9">

          <div class="card mt-4">
            <div class="card-body">
              <h3 class="card-title">Grad Students</h3>
              <p class="card-text">You can view all grad students with own details. You can also view applications from visitors, you can accept or reject the application. Or, you can remove all applications from the system. You can also reach to all completed courses according departments, programs and years.</p>
            </div>
          </div>
         

        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>

{% endblock content %}
