{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% include 'left-menu.html' %}
        <div class="col-md-6">
            <div class="row">

                    <div class="alert alert-warning">
                    <strong>Warning!</strong> You can display all institute staff individually.
                </div>


                    <ul class="list-group list-group-flush">
                        <a href="/all-institute-staff" class="list-group-item list-group-item-action"><span class="oi oi-list-rich"></span>All Institute Staff</a>
                    </ul>
                <br>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
