{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<hr>
			<small class="text-muted">Program Number:  </small> {{ programDetails.id }}
			<br><small class="text-muted">Name:  </small> {{ programDetails.name }}
			<br><small class="text-muted">Code:  </small> {{ programDetails.code }}
			<br><small class="text-muted">Type:  </small> {{ programDetails.type }}
			<br><small class="text-muted">Thesis:  </small> {{ programDetails.thesis }}
			<br><small class="text-muted">Department:  </small> {{ programDetails.department }}
			<br><small class="text-muted">Head:  </small> {{ programDetails.head }}
			<br><small class="text-muted">Quoata Manager:  </small> {{ programDetails.quota_manager }}
			<hr>
		</div>
	</div>
</div>
</div>
{% endblock %}

