{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<div class="row">
				<!-- Modal -->
				<div class="container">
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Section</button>
					<div class="modal fade" id="myModal" role="dialog">
						<div class="modal-dialog">
							<!-- Modal content-->
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">Add Section Screen</h4>
								</div>
								<div class="modal-body">
									<p>Enter given fields correctly.</p>
									<form action='' method='post'>{% csrf_token %}
										{{ form.as_p }}
										{{ form.non_field_errors }}
										<input type='submit' value='Submit' />
									</form>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal"><a href="/delete-all-sections">Delete All</a></button>
				</div>
				<br><br><br>
				<table>
					<tr>
						<th>Course</th>
						<th>Number</th>
						<th>Instructor</th>
						<th>Year / Semester</th>
						<th>View</th>
					</tr>
					{% for i in sections %}
					<tr>
						<td>{{ i.course }}</td>
						<td>{{ i.number }}</td>
						<td>{{ i.instructor }}</td>
						<td>{{ i.year }} / {{ i.semester }}</td>
						<td><a href="/section-details/{{ i.id }}/">View</a></td>
					</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

