{% extends 'staff-base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<hr>
			<small class="text-muted">Section number:  </small> {{ sectionDetails.id }}
			<br><small class="text-muted">Course:  </small> {{ sectionDetails.course }}
			<br><small class="text-muted">Year:  </small> {{ sectionDetails.year }}
			<br><small class="text-muted">Semester:  </small> {{ sectionDetails.semester }}
			<br><small class="text-muted">Quantity:  </small> {{ sectionDetails.number }}
			<br><small class="text-muted">Instructor:  </small> {{ sectionDetails.instructor }}
			<hr>
		</div>
	</div>
</div>
</div>
{% endblock %}

