{% extends 'staff/institute-staffs.html' %}
{% block content %}
<div class="container">
	<div class="row">
		<!-- Menu -->
		{% include 'staff/assets/menu.html' %}
		<div class="col-lg-9">
			<div class="card mt-4">
				<div class="card-body">
					<h3 class="card-title">Step 2</h3>
					<p class="card-text">Please, enter given fields correctly.</p>
					<form action='' method='post'>{% csrf_token %}
						{{ formU.as_p }}
						{{ formU.non_field_errors }}
						<input type='submit' value='Submit' />
					</form>
				</div>
				<hr>
			</div>
		</div>
	</div>
</div>
<br>
{% endblock content %}