{% extends 'base.html' %}

{% block content %}


    <!-- Page Content -->
    <div class="container">
      <div class="row">
<!-- Menu -->
{% include 'assets/menu/academic-staffs.html' %}



        <div class="col-lg-9">

          <div class="card mt-4">
            <div class="card-body">
              <h3 class="card-title">Academic Staff</h3>
              <p class="card-text">You can reach to all academic staff with own details indivually. You can display heads of institutes, departments and programs. You can also view quota manager and assign a new quota manager.</p>

            </div>
          </div>
          
        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>

{% endblock content %}
