{% extends 'academic-staffs.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Menu -->
        {% include 'assets/menu/academic-staffs.html' %}
        <div class="col-lg-9">
            <div class="card card-outline-secondary my-4">
                <!-- Title -->
                <div class="card-header">
                    {{ request.path }}
                </div>
                <div class="card-body">
                    <p>You can see the names of all institutes, the heads of institutes
                    and the date they establish.</p>
                    <!-- Table -->
                    <hr>
                    <table>
                        <tr>
                            <th>Staff</th>
                            <th>Institute</th>
                            <th>University</th>
                        </tr>
                        {% for i in academicStaffs %}
                        <tr>
                            <td>{{ i.staff }}</td>
                            <td>{{ i.institute }}</td>
                            <td>{{ i.university }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <hr>
                    <!-- Modal -->
                    <div class="container">
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add Institute</button>
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Add Academic Staff Screen</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>Enter given fields correctly.</p>
                                        <form action='' method='post'>{% csrf_token %}
                                            {{ formA.as_p }}
                                            {{ formA.non_field_errors }}
                                            <input type='submit' value='Submit' />
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
