<!DOCTYPE html>
{% load static %}
<html lang="en">
{% include 'assets/head.html' %}

<body>

  <!-- Navigation -->
  {% include 'assets/navigation.html' %}

  {% block content %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Menu -->
      {% include 'assets/menu.html' %}


      <div class="col-lg-9">

        <div class="card mt-4">
          <div class="card-body">
            <h2 class="card-title">Welcome to Institute Automation System</h2>
            <h4>FMV Isik University</h4>
            <p class="card-text">Institute Automation System is a online student information and registration system. You may use this site to keep in touch with the university without being in the campus physically. 
              <br><br>You may register courses, view your grade reports, view your personal announcements, edit your personal information if you are a student.
              <br><br>You may submit grades, view class lists and advise on-line to the students if you are an instructor.</p>
            </div>
          </div>
          <!-- /.card -->
          <!-- deneme form -->


          <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Useful Links
            </div>
            <div class="card-body">
              <p><a href="/academic-calendar">Academic Calendar</a></p>
                You may view the academic calendar for 2017-2018 academic year.
                <hr>
                <p><a href="/program-and-curricula">Programs & Curricula</a></p>
                You may view the academic programs offered at Isk University and the curriculum for each program.
                <hr>
                <p><a href="/current-course-and-schedule">Current Course Schedule</a></p>
                You may view all courses offered at 2018 Spring semester.
                <hr>
                <p><a href="/registration-help">Registration Help</a></p>
                You may learn how to register with Institute Automation.
                <hr>
              </div>
            </div>
            <!-- /.card -->

          </div>
          <!-- /.col-lg-9 -->

        </div>

      </div>

      {% endblock content %}

      <!-- Footer -->
      {% include 'assets/footer.html' %}

      {% include 'assets/contents/table.html' %}

    </body>
    </html>
