{% extends 'institute.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<!-- Menu -->
		{% include 'assets/menu/institute.html' %}
		<div class="col-lg-9">
			<div class="card card-outline-secondary my-4">
				<!-- Title -->
				<div class="card-header">
					{{ request.path }}
				</div>
				<div class="card-body">
					<p>You can see the details of {{ courseDetails.title }}</p>
					<!-- Content -->
					<hr>
					<small class="text-muted">Course number:  </small> {{ courseDetails.id }}
					<br><small class="text-muted">Name:  </small> {{ courseDetails.name }}
					<br><small class="text-muted">Code:  </small> {{ courseDetails.code }}
					<br><small class="text-muted">Description:  </small> {{ courseDetails.description }}
					<br><small class="text-muted">Credit & ECTS:  </small> {{ courseDetails.credit }} & {{ courseDetails.ects_credit}}
					<br><small class="text-muted">Program:  </small> {{ courseDetails.program }}
					<br><small class="text-muted">University:  </small> {{ courseDetails.university }}
					<br><small class="text-muted">isValid:  </small> {{ courseDetails.is_valid }}
					<br><small class="text-muted">isDeleted:  </small> {{ courseDetails.is_deleted }}
					<br><small class="text-muted">Created Date:  </small> {{ courseDetails.created_date }}
					<hr>
					<!-- Modal -->
					<div class="container">
						<!-- Modal Close Course-->
						<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#closeCourse">Close Course</button>
						<div class="modal fade" id="closeCourse" role="dialog">
							<div class="modal-dialog">
								<!-- Modal content-->
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title">Close Course Screen</h4>
									</div>
									<div class="modal-body">
										<p>Enter given fields correctly.</p>
										<form action='' method='post'>{% csrf_token %}
											{{ editForm.as_p }}
											{{ editForm.non_field_errors }}
											<input type='submit' value='Submit' />
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
