{% extends 'academic-staffs.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Menu -->
        {% include 'assets/menu/academic-staffs.html' %}
        <div class="col-lg-9">
            <div class="card card-outline-secondary my-4">
                <!-- Title -->
                <div class="card-header">
                    {{ request.path }}
                </div>
                <div class="card-body">
                    <p>You can see the names of all institutes, the heads of institutes
                        and the date they establish.</p>
                    <!-- Table -->
                    <hr>
                    <table>
                        <tr>
                            <th>Department Name</th>
                            <th>Head</th>
                            <th>Institute</th>
                        </tr>
                        {% for i in departmentHeads %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.head }}</td>
                            <td>{{ i.institute }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
