{% extends 'institute.html' %}
{% block content %}
<!-- Page Content -->
<div class="container">
	<div class="row">
		<!-- Menu -->
		{% include 'assets/menu/institute.html' %}
		<div class="col-lg-9">
			<div class="card card-outline-secondary my-4">
				<!-- Title -->
				<div class="card-header">
					{{ request.path }}
				</div>
				<div class="card-body">
					<p>You can see the details of {{ departmentDetails.name }}</p>
					<!-- Content -->
					<hr>
					<small class="text-muted">Department number:  </small> {{ departmentDetails.id }}
					<br><small class="text-muted">Name:  </small> {{ departmentDetails.name }}
					<br><small class="text-muted">Head:  </small> {{ departmentDetails.head }}
					<br><small class="text-muted">Institute:  </small> {{ departmentDetails.institute }}
					<hr>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
