{% extends 'base.html' %}

{% block content %}


    <!-- Page Content -->
    <div class="container">
      <div class="row">
<!-- Menu -->
{% include 'assets/menu/institute-staffs.html' %}


        <div class="col-lg-9">

          <div class="card mt-4">
            <div class="card-body">
              <h3 class="card-title">Institute Stafff</h3>
              <p class="card-text">You can display institute staff with own details indiviaully.</p>
            </div>
          </div>


        </div>
        <!-- /.col-lg-9 -->

      </div>

    </div>


{% endblock content %}
