{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-sm">
                <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
            </tr>
            <tr>
                <th scope="row">Student No</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th scope="row">Institute</th>
                <td>{{ user.student.program.department.institute }}</td>
            </tr>
            <tr>
                <th scope="row">Department</th>
                <td>{{ user.student.program.department }}</td>
            </tr>
            <tr>
                <th scope="row">Program</th>
                <td>({{ user.student.program.code }}) {{ user.student.program }}</td>
            </tr>
            <tr>
                <th scope="row">Standing</th>
                <td>{{ user.student.standing }}</td>
            </tr>
            <tr>
                <th scope="row">Program Credits Completed</th>
                <td>{{ user.student.completed_credit }}</td>
            </tr>
            <tr>
                <th scope="row">GPA</th>
                <td>{{ user.student.calculate_gpa }}</td>
            </tr>
            <tr>
                <th scope="row">Registration Status</th>
                <td>
                    {% if user.student.approval_statue %}
                        Approved
                    {% else %}
                        Waiting for approval
                    {% endif %}
                </td>
            </tr>
      </tbody>
            </table>
        </div>
        <br>
        {% for key, value in courses.items %}
            <div class="col-md-12" style="margin-bottom: 15px">
                    <div class="card">
                        <div class="card-header">{{ key }}. Semester</div>
                        <div class="card-body" style="padding: 0;">
                            <table class="table table-striped">
                                <tbody>
                                    {% for course in value %}
                                    <tr class="{% if course.taken %}table-primary{% elif course.other.grade and course.other.grade != 'F' %}table-active{% endif %}">
                                        <td>{{ course.code }}</td>
                                        <td>{{ course.title }}</td>
                                        <td>{{ course.credit }} Credit</td>
                                        <td>
                                            {% if course.other.grade %}
                                            ({{ course.other.year }} {{ course.other.semester }} {{ course.other.grade }})
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
        {% endfor %}
    </div>
</div>
    <style>
        .table td {
            font-size: 0.95em;
        }
    </style>
{% endblock %}