<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>

{% if students %}

<table>
    <tbody>
        <th>Öğrenci</th>
        <th>Harf Notu</th>
        <th></th>
    </tbody>
    {% for student in students %}

    {% for course in student.completedcourse_set.all %}
        {% if student == course.student %}

        <tr>
                <td>{{student.st_id}}</td>
                <form method="POST" action="{% url 'give_note' %}">{% csrf_token %}
                <td>
                    <input type="text" name="harf_notu" value="{{course.grade}}" disabled>
                </td>
                <td><button type="submit" disabled>Gönder</button></td>
                </form>
            </tr>
        {% else %}

        <tr>
                <td>{{student.st_id}}</td>
                <form method="POST" action="{% url 'give_note' %}">{% csrf_token %}
                <td>
                    <input type="text" name="harf_notu">
                    <input type="hidden" value="{{student.st_id}}" name="student_id">
                    <input type="hidden" value="{{section.id}}" name="section_id">
                </td>
                <td><button type="submit">Gönder</button></td>
                </form>
            </tr>
        {% endif %}
    {% empty %}
    <tr>
            <td>{{student.st_id}}</td>
            <form method="POST" action="{% url 'give_note' %}">{% csrf_token %}
            <td>
                <input type="text" name="harf_notu">
                <input type="hidden" value="{{student.st_id}}" name="student_id">
                <input type="hidden" value="{{section.id}}" name="section_id">
            </td>
            <td><button type="submit">Gönder</button></td>
            </form>
        </tr>
    {% endfor %}

    {% endfor %}
</table>
{% else %}
Bu Seçtionda öğrenci yok
{% endif %}
</body>
</html>