<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Harf Notu ekleme</title>
</head>
<body>

Harf Notu ekle. <br> <br>

            {% for section in sections %}
                <a href="{% url 'get_section_students' section.id %}">{{section.course.code}}.{{section.number}}</a><br>
            {% empty %}
                Dersin yok
            {% endfor %}

</body>
</html>