{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<div class="row">
				<ul class="list-group list-group-flush">
					<a href="/students-in-my-courses" target="_blank" class="list-group-item list-group-item-action"><span class="oi oi-list-rich"></span>Students in My Courses</a>
					<a href="/my-students" target="_blank" class="list-group-item list-group-item-action"><span class="oi oi-list-rich"></span>My Students</a>
					<a href="/my-courses" target="_blank" class="list-group-item list-group-item-action"><span class="oi oi-list-rich"></span>Give Grade</a>
					<a href="/all-sections" target="_blank" class="list-group-item list-group-item-action"><span class="oi oi-list-rich"></span>Open Quota</a>
					<a href="/special-quota" target="_blank" class="list-group-item list-group-item-action"><span class="oi oi-list-rich"></span>Special Quota</a>
					<a href="/my-courses" target="_blank" class="list-group-item list-group-item-action"><span class="oi oi-list-rich"></span>My Courses</a>
				</ul>
				<br>
			</div>
		</div>
	</div>
	{% include 'right-menu.html' %}
</div>
</div>
{% endblock %}