{% extends 'base.html' %}
{% block content %}
<div class="container">
	<div class="row">
		{% include 'left-menu.html' %}
		<div class="col-md-6">
			<div class="row">
			</div>
			<form method="post" action="{% url 'open-special-quota' %}">
				<select name="section" class="form-control col-md-6">
					{% for section in sections %}
					<option value="{{section.id}}">{{section.course.code}}.{{section.number}}</option>
					{% empty %}
					No course
					{% endfor %}
				</select>
				{% csrf_token %}
				<p>Enter student number: </p>
				<input type="text" name="student_number" class="col-md-6"><br><br>
				<button type="submit" class="btn-primary btn-lg"> Kota Aç </button>
			</form>
		</div>
	</div>
</div>
</div>
</div>
{% endblock %}





