{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1"  style="margin-top: 10px;">
        <div class="col-md-6">
<form method="post" action="{% url 'open_special_quota' %}">
        <select name="section" class="form-control col-md-6">
            {% for section in sections %}
            <option value="{{section.id}}">{{section.course.code}}.{{section.number}}</option>
            {% empty %}
                Dersin yok
            {% endfor %}
        </select>

        {% csrf_token %}
        <p>Öğrenci numarasını girin.</p>
        <input type="text" name="student_number" class="col-md-6"><br><br>
        <button type="submit" class="btn-primary btn-lg"> Kota Aç </button>

    </form>
    </div>
    </div>
</div>
{% endblock content %}
