

{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1"  style="margin-top: 10px;">
        <div class="col-md-12">

<div class="container">

<h2>Students of My Courses</h2>
            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>CCR</th>
         <th>Schedule</th>
          <th>Transcript</th>
           <th>Curriculum</th>
      </tr>
    </thead>
    <tbody>

{% for i in students %}
      <tr>
        <td>{{ i.student.user.first_name }}</td>
        <td>{{ i.student.user.last_name }}</td>
        <td>{{ i.student.user.email }}</td>
        <td><a href="/displayCCR/{{i.student.id}}/"> CCR</a></td>
        <td><a href="/displaySchedule/{{i.student.id}}/">Schedule</a></td>
        <td><a href="/displayTranscript/{{i.student.id}}/">Transcript</a></td>
        <td><a href="/displayCurriculum/{{i.student.id}}/">Curriculum</a></td>
      </tr>
     
{% endfor %}
    </tbody>
  </table>

</div>
</div>
</div>
</div>



{% endblock content %}