<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<ul>
{% for taken_course in taken_courses %}
        <li>{{taken_course.act_course.code}} - {{taken_course.act_course.title}}</li>
    {% empty %}
    Dersi yok
     {% endfor %}
</ul>
</body>
</html>