{% if user.is_authenticated %}
{% if user.staff %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">IAS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/staff">Home<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/institute">Institutes</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/academic-staff">Academic Staffs</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/institute-staff">Institute Staffs</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="{% url 'grad-students' %}">Grad Students</a>
            </li>



            
        </ul>
        <form class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
            <span class="navbar-text" style="margin-right: 15px;">
             
          </span>

          <a href="http://www.isikun.edu.tr/" class="btn btn-outline-success my-2 my-sm-0 mr-sm-2">Isik University</a>
        
          <a href="http://www.isikun.edu.tr/i/content/522_1_Akademik%20Takvim_18-19.pdf" class="btn btn-outline-success my-2 my-sm-0 mr-sm-2">Academic Calendar</a>
          <a href="#" class="btn btn-outline-success my-2 my-sm-0 mr-sm-0">FAQ</a>
          {% else %}
          <a href="#" class="btn btn-outline-success my-2 my-sm-0 mr-sm-2">Login</a>
          <a href="#" class="btn btn-outline-success my-2 my-sm-0 mr-sm-0">Register</a>
          {% endif %}
      </form>
  </div>
</nav>
{% endif %}
{% endif %}